name: Deploy to Netlify

on:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4

      - name: Prepare - Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Prepare - Install dependencies
        run: npm ci

      - name: Build - Vite
        run: npm run build

      - name: Deploy - Install Netlify CLI
        run: npm i -g netlify-cli

      - name: Deploy - Netlify
        run: netlify deploy --dir=dist --prod
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
